[Unit]
Description = LSCPD Daemon
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/tmp/lscpd/lscpd.pid
ExecStart = /usr/local/lscp/bin/lscpdctrl start
ExecStop = /usr/local/lscp/bin/lscpdctrl stop
#ExecReload= /usr/local/lscp/bin/lscpdctrl restart

PrivateTmp=false

# do not want to be limited in anyway
CPUAccounting=false
TasksAccounting=false
MemoryAccounting=false

[Install]
WantedBy=multi-user.target
